body{
    background-color: black;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: chocolate;
    text-decoration: underline;
}
.home-image{
    height: 600px;
    width: 100%;
    background-image: url("../img/home-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.home-image h1{
    color: white;
    font-size: 70px;
    margin-top: 100px;
    margin-left: 50px;
}
.home-image p{
    color: white;
    font-size: 20px;
    margin-left: 50px;

}
.home-btn{
    margin-left: 50px;
    text-transform: capitalize;
    transition: .2s linear;
    background-color: burlywood;
    transition: width 1s ease-in-out 1s;  
}
.home-btn:hover{
    width: 200px;  
}
.btn a{
    text-decoration: none;
    color: white;
}